.jumbotron {
  font-family: "EB Garamond", serif;
  padding-top: 15rem;
  padding-bottom: 15rem;
  background: url(img/pexels-tirachard-kumtanom-450055.jpg);
  background-size: cover;
}

.navbar {
  font-size: 18px;
  font-family: "EB Garamond", serif;
}

#About {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: black;
}

#krs {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background: url(img/pexels-tirachard-kumtanom-450055.jpg);
  background-size: cover;
}

#activity {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

#Portfolio {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: black;
}

#contact {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background: url(img/pexels-moussa-idrissi-11439988.jpg);
  background-size: cover;
}
